<!DOCTYPE html>
Welcome to spaces
<%= flash[:notice] %>
<html>
<head>
  <link rel="stylesheet" href="Makersbnb_main_style.css">
</head>


<body>
<ul>
  <li><a href="/user/new">Signup</a></li>
  <li><a href="/user">Login</a></li>
  <li><a class="active" href="/spaces">Spaces</a></li>
</ul>

<body class="class-for-index">
  <h3> Welcome to SpaceJam</h3>
  <h4> Bed n Breakfast </h4>
</body>


</html>
