<html>
<h3> Welcome to SpaceJam</h3>
<h4> Bed n Breakfast </h4>
<head>
<style>
body {
  background-color: lightblue;
}
h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: verdana;
}
h4 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: verdana;
}
form {
    color: rgb(0, 0, 0);
    padding: 40px;
    text-align: center;
    font-family: verdana;
}
</style>
<link rel="stylesheet" href="Makersbnb_main_style.css">
</head>
    <form action='/spaces'>
    <input type='submit' name='Show_spaces' value='List of spaces'>
    </form>

    <form action='/user/'>
    <input type='submit' name='login' value='Login'>
    </form>

    <form action='/user/new'>
    <input type='submit' name='sign-up' value='Sign Up'>
    </form>
</html>