Welcome to spaces
<%= flash[:notice] %>
<html>
    <form action='/spaces'>
    <input type='submit' name='Show_spaces' value='List of spaces'>
    </form>

    <form action='/user/'>
    <input type='submit' name='login' value='Login'>
    </form>

    <form action='/user/new'>
    <input type='submit' name='sign-up' value='Sign Up'>
    </form>
</html>