<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="Makersbnb_main_style.css">
</head>
<style>

</style>

<body>

<ul>
  <li><a href="/user/new">Signup</a></li>
  <li><a href="/user">Login</a></li>
  <li><a class="active" href="/spaces">Spaces</a></li>
</ul>
</body>
