<html>
    <form action="/user/new" method = "POST">
    <input type='text' name='email' placeholder='Email'>
    <input type='password' name='password' placeholder="Password">
    <input type='password' name='repeat_password' placeholder="Repeat password">
    <input type='submit' value='Sign up'>
    </form>
</html>