<!DOCTYPE html>
<html>
<style>
  input[type=button], input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 52px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>
<head>
  <title>Space Jam BnB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Space Jam</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/user/new">Signup</a></li>
          <li><a href="/user">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</body>

<div class="row text-center">
  <h3>Please enter your user details</h3>
  <%= flash[:notice] %>
  <form action="/user/new" method = "POST">
  <input type='text' name='email' placeholder='Email'>
  <br>
  <input type='password' name='password' placeholder="Password">
  <br>
  <input type='password' name='repeat_password' placeholder="Repeat password">
  <br>
  <input type='submit' value='Sign up'>
  </form>
</div>

</html>
