List of spaces

<ul>
  <% @spaces.each do |space| %>
  <li class="space" id="space">
    <%= space.title %> 
    <br>
    <%= space.price %>
    <br>
    <%= space.description %>
    <br>
    <form action='booking/<%= space.id %>/new'>
      <input type='submit' value='Request Booking'> 
    </form>
  </li>
  <%end%>
</ul>

<html>
  <form action='/spaces/new'>
  <input type='submit' name='Add_spaces' value='Add space'>
  </form>
</html>
