List of spaces

<ul>
    <% @spaces.each do |space| %>
        <li><%= space.title %></li>
    <%end%>
</ul>

<html>
    <form action='/spaces/new'>
    <input type='submit' name='Add_spaces' value='Add space'>
    </form>
</html>
