
body {
  background-color: lightblue;
}
h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: verdana;
}
h4 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: verdana;
}
li {
    font-family: verdana;
    font-size: 20px;
}


form {
    color: rgb(0, 0, 0);
    padding: 40px;
    text-align: center;
    font-family: verdana;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid lightblue;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.hero {
  /* Photo by mnm.all on Unsplash */
  background: url('https://images.unsplash.com/photo-1454178375239-4a086be0ceeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1574&q=80') center;
  background-size: cover;
  padding: 4rem 2rem;

}
</style>
