<html>
    <form action="/spaces/<%= @id %>" method="post">
        <input type='hidden' name='_method' value="PATCH" />
        <input type='text' name='request' placeholder="Request Message">
        <input type="submit" value="Submit">
    </form>
</html>